:root{
  --Purple:#95389e;
  --White:#FFF;
  --Dark:#100303;
  --lightBlue:#43d8c9;
  --lightBluelight:rgba(48, 215, 221, 0.5);
  --lightBluelightdark:rgba(48, 215, 221, 0.8);
  --lightPurple:#fee0ff;
  --lightGrey:rgba(0,0,0,.3);
  --WhiteBlue:#f1feff;

}
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
*{
  list-style: none;
  box-sizing: border-box;
  
}
#full{
  padding: 0 !important;
}
a{
  color:inherit !important;
  text-decoration: none !important;
}

.text-title{
  font-family: 'Catamaran', sans-serif;
  color: var(--White);
}
.text-purple{
  color:var(--Purple);
  font-family: 'open sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
.alertbar{
  background-color: var(--Purple);
  width:100%;
  color: var(--White) !important;
  opacity: .8;
}
.alertbar:hover{
text-decoration: none !important;
color: var(--Purple)!important;
background-color: var(--lightPurple);
}

.navbar{
  background-color: var(--White);
  width: 100%;
}
nav{
  margin: 0 !important;
}

.hero{
  background-image: url('./logo\ copy.jpg'), linear-gradient(rgba(53, 19, 80, 0.8),rgba(53, 19, 80, 0.8));
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;

  
}

.text-sub{
  color: var(--White);
  margin: 20px;
  margin-bottom: 40px;
}
.hero-inner{
  height: auto;
}
.hero-text{
 margin-top: 70px;
  font-size: 4rem;
}
.bars{
  color: var(--Purple);
  cursor: pointer;
  transition: .5s all ease-in-out;
}
.bars>ul{
  position: absolute;
  width: auto;
  top: 75px;
  right: 0;
  height: auto;
  background:var(--White);
  display: none;
  line-height: 2rem;
  padding-top:15px;
  padding-left:0;
  z-index: 100;
  border-radius: 0 0 15px 15px;

}
.bars:hover>ul{
  display: block;
}

.bars>ul>li>a{
  font-size: 1.25rem;
  display: block;
  text-decoration: none;
  color: var(--Purple);
  padding: 5px 10px;
  font-family: 'open sans';
}
.bars>ul>li>a:hover{
  background-color: var(--lightGrey);
}
.circle1{
  height: 300px;
  width: 300px;
  background-image: url('./girl.png'), linear-gradient(rgba(48, 215, 221, 0.5), rgba(48, 215, 221, 0.5));
  background-position: center;
  background-repeat: none;
  background-blend-mode: overlay;
  background-size: 400px;
  border-radius: 150px;
}
.circle2{
  position: relative;
  top:-50px;
  left:-50px;
  height:150px;
  width: 150px;
  border-radius: 50%;
  background-color: var(--Purple);
  color:var(--White);

}
.circle2>h2{
  
  color:var(--White);
}
.circle3{
  position: relative;
  bottom:50px;
  right:-170px;
  height:175px;
  width: 175px;
  border-radius: 50%;
  background-color: var(--WhiteBlue);
  color:var(--Purple);
  padding: 10px;

}
.circle3>h3{
  font-size: 1.7rem;
}
.circle4{
  position: absolute;
  bottom: 220px;
  left:270px;
  height: 200px;
  width: 200px;
  background-image: url('./zoom.jpg'), linear-gradient(rgba(165, 74, 192, 0.5), rgba(124, 18, 119, 0.5));
  background-position: center;
  background-repeat: none;
  background-blend-mode: overlay;
  background-size: 500px;
  border-radius: 50%;
  z-index: -1;
}
.circle5{
  position: absolute;
  top: 220px;
  right:270px;
  height: 170px;
  width: 170px;
  background-image: url('./ipad.jpg'), linear-gradient(rgba(165, 74, 192, 0.5), rgba(124, 18, 119, 0.5));
  background-position: center;
  background-repeat: none;
  background-blend-mode: overlay;
  background-size: 370px;
  border-radius: 50%;
  
}
.hovzoom{
  transition: .5s all ease-in-out;
}
.hovzoom:hover{
  transform: scale(1.2)
}
#topbar{
  position: absolute;
  bottom: 0;
  right:200px;
  height: auto;
  margin: 0 auto;
  text-align: center;
 
}
#topbar>li{
  display: block;
  float: left;
  text-align: center;
  position: relative;
  line-height: 2rem;
  padding:5px 15px;

}
#topbar>li>a{
  display: block;
  color: var(--Purple);
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  height: 100%;
  position: relative;
}
#topbar>li>a::after{
  content: '';
  height: 3px;
  width: 0px;
  position: absolute;
  background-color:var(--lightBlue);
  bottom: 0;
  left: 50%;
  transition: ease-in-out .3s;
}

#topbar>li>a:hover::after{
  width: 100%;
  left: 0;
}
.dropdown>ul{
  display: block;
  position: absolute;
  width: auto;
  top: 42px;
  left: 0;
  height: auto;
  background:var(--lightBluelightdark);
  backdrop-filter:blur(5px) ;
  display: none;
  line-height: 1.5rem;
  padding-top:15px;
  padding-left:0;
  z-index: 10;
  border-radius: 0 0 15px 15px;

}
.dropdown:hover>ul{
  display: block;
}

.dropdown>ul>li>a{
  
  display: block;
  text-decoration: none;
  color: var(--White) !important;
  padding: 5px 10px;
}
.dropdown>ul>li>a:hover{
  background-color: var(--lightGrey);
}
h2{
  color: var(--Purple);
  

}
h5{
  color: var(--lightBlue);
}
#full{
  width: 100%;
  padding: 0;
}
#bar2{
  
}
#bar3{
  background-color: var(--lightBluelight);
  padding: 20px;
}
.toemail{
  transition: all .25s ease-in-out;
}
.toemail:hover{
  padding-left: 5px;
  color:var(--lightBlue);
  transform:scale(1.2);
  
}
#bar5{
  background-color: var(--Purple);
}
.circle{
  height:150px;
  width:150px;
  border-radius: 100px;
  background-color: var(--White);
  cursor: pointer;
}
.circle:hover{
  color: var(--lightBlue);
}
.pin{
  position: relative;
  top:40px;
  left:40px;
}
.bar3text{
  color: black !important;
}
.bar3title{
  display: inline-block;
}
.bar3title:hover{
  color: var(--Purple);
}
.leftone{
  background-color: var(--lightPurple);
}
.leftone>div>h4{
  color: var(--Purple);
}
.rightone>div>h4{
  color: var(--lightBlue);
}
.emails{
  display: inline-block;
}
.individual-line>ul>li{
  display: inline-block;
  margin:10px;
  
}
.individual-line>ul{
  padding: 0;
}
.individual-line:nth-child(even){
  background-color:var(--lightPurple);
}
.individual-line{
  transition: all .25s ease-in-out;
}
.individual-line:hover{
  transform: scale(1.1);
}
.emhead{
  background-color: var(--Purple);
  color: var(--White);
  transition: all .25s ease-in-out;
  box-shadow: 5px 5px var(--lightPurple);
}
.emhead:hover{
  box-shadow: 15px 10px var(--lightPurple);
}
@media screen and (max-width: 1220px){
  .expandable>ul>li{
    visibility: hidden;
    display: inline-block;
    padding: 0px 15px 5px 15px;
    cursor: pointer;
    border-bottom: 3px var(--White) solid;
    margin-bottom: 0;
    transition: .25s all linear;
  }
  h2{
    padding-top: 10px;
  }
}